.skill{
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 247, 247);
}

.skill_cards{
   width:70%;
   height: auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 10px;
   grid-auto-rows: minmax(100px, auto); 
   
}

.item{
width:100%;
display: flex;
justify-content: center;

}

 .item img:hover{
   cursor: pointer;
 }

 .item img{
   object-fit: scale-down;
 }