:root {
   
    --primary: aquamarine;
    --secondary: #3b3b3b;                 /*color*/
    --tertiary: rgb(249, 249, 249);       /*skill*/
    --quartenary: white;                 /* about */
    --boxShadow: #3b3b3b;
    --one: rgb(249, 249, 249);
    --two: rgb(181, 181, 181);
    --three: #246b62;
    --for: #fadcd9;
    --five: #1706d7;
    --six: #534c39;
    --borderRadius: 10px;
}

*{
    box-sizing: border-box;
}

ul{
    margin:0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;   
}

[data-theme= "aqua"]{
    --primary: aquamarine;
    --secondary: #3b3b3b;                 /*color*/
    --tertiary: rgb(249, 249, 249);       /*skill*/
    --quartenary: white;                 /* about */
    --boxShadow: #3b3b3b;
}

[data-theme= "dark"]{
    --primary: rgb(65, 66, 65);
    --secondary: white;
    --tertiary: rgb(181, 181, 181);
    --quartenary: rgb(202, 200, 200);
    --boxShadow: #3b3b3b;
}

[data-theme= "gold"]{
    --primary: #246b62;
    --secondary: white;
    --tertiary: #a98743;
    --quartenary: #758345; 
    --boxShadow: #3b3b3b;
}

[data-theme= "cream"]{
    --primary: #f79489;
    --secondary: #3b3b3b;
    --tertiary: #fadcd9;
    --quartenary: #f9f1f0; 
    --boxShadow: #3b3b3b;
}

[data-theme= "darkBlue"]{
    --primary: #04012f;
    --secondary: #fff;
    --tertiary: #1706d7;
    --quartenary: #443ce5; 
    --boxShadow: #3b3b3b;
}

[data-theme= "darkGold"]{
    --primary: #382e13;
    --secondary: #fff;
    --tertiary: #534c39;
    --quartenary: #938766; 
    --boxShadow: #3b3b3b;
}

@media screen and (max-width: 640px) {
    .app {
        width: 100%;
        overflow: hidden;
    }
}