.work{
    width: 100%;    
    display: flex;
    padding-bottom: 4rem;
    padding-top: 8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--quartenary);
    color: var(--secondary);
}

.work_title{
    
    font-size: xx-large;
    text-align: center;
}

.work_items{
    width: 80%;
    height: 100%;
    
}

.work_card:hover{
    transform: scale(1.02);
    transition: all .3s ease-in-out;
    box-shadow: 1px 5px 5px 0 #000;
}

.work_controllShow{
    width: 100%;
    margin:auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.collapse_title{
    font-size: 20px;
    font-weight: 600;
}

.arrow:hover{
    cursor: pointer;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;  
    width: 70%; 
    min-height: 400px;
    @media screen and (min-width: 764px){
        width: 50%
    }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
  
 